body{
    margin: 0;
    font-family: 'Roboto';
}
/*-------------------------------------HEADER---------------------------------------------*/
#header{
    background-color: white;
    padding: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#header img{
    width: 15%;
}
#header div{
    width: 28%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#header a{
    font-family: sans-serif, "Roboto";
	margin-top: 1%;
	font-weight: bold;
    color:rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
#nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
#nav a:hover, #nav a:focus{
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
	text-decoration: none; 
}
/*-------------------------------------CARROUSEL---------------------------------------------*/
#carrousel{
    background-color: #F0C064;
    padding-top: 2em;
    padding-bottom: 2em;
    width:100%;
    color: #514640;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

#but_pic{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.slide{
    width: 80%;
    height: auto;
    position: relative;
}

.slide img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
.slide p{
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
    height:91.5%;
    width: 21%;
    position: absolute;
    left:5%;
    top: 0%;
    padding: 1.5em;
    margin: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.ph3{
    font-weight: bold;
    font-size: 2em;
}

.ph4{
    font-size: 1.5em;
    line-height: 1.5em;
}

/*Tutorial slider controls*/

#carrousel button {
    border:none;
	background-color: white;
    height: 3em;
    width: 3em;
    color: #F0C064;
    padding: 0.3em;
    text-align: center;
}

#carrousel button:hover {
    background-color: #EC6739;
    color: white;
    cursor: pointer;
}
#play_stop {
    margin: auto;
    padding-top: 2em;
    width: 8%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
/*-------------------------------------MAP---------------------------------------------*/
#map_container{
    height: 50em;
    width: 100%;
    display: flex;
    flex-direction: row;
}
#map {
    position: relative;
    height: 100%;
    width: 100%;
}
#buttons {
    position: absolute;
    left: 40%;
    width: 20%;
    height: 3rem;
    margin: 0 auto;
    }
.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 20%;
    padding: 8px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    font-family: sans-serif;
    font-weight: bold;
}
.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.25s ease-out, opacity 0.25s ease-in;
	-moz-transition: -moz-transform 0.25s ease-out, opacity 0.25s ease-in;
	-o-transition: -o-transform 0.25s ease-out, opacity 0.25s ease-in;
	transition: transform 0.25s ease-out, opacity 0.25s ease-in;
}
.marker-cluster {
    background-image: url('../img/velogroupe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    height: 75px!important;
    width: 75px!important;
}
.marker-cluster div {
    font-size: 0;
}
.markertrue {
    background-image: url('../img/velo.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.markerfalse {
    background-image: url('../img/velored.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.mapboxgl-popup {
max-width: 200px;
}
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}
.pop_res_but{
    display: block;
    margin: 0 auto;
    height: 33px;
    width: 85px;
    padding: 3% 5%;
    background-color: white;
    color: rgb(248, 173, 29);
    font-weight: bold;
    border-radius: 10%;
    border:solid 1px rgb(248, 173, 29);
    box-shadow: none;
}
.pop_res_but:hover{
    background-color: rgb(248, 173, 29);
    color: white;
    font-weight: bold;
    border-radius: 10%;
    border:solid, 1px, #EC6739;
}
#info-station, #form_bikes, #canvas_container{
    margin: 0 15px;
}
input{
    margin-bottom: 15px;
}
#canvas_div{
    border: 1px solid black;
    margin-bottom: 15px;
}
#canvas_confirm{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#submit_canvas, #clear_canvas{
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 40%;
    padding: 3% 5%;
    background-color: white;
    font-weight: bold;
    border-radius: 10%;
    border:solid 1px;
    box-shadow: none;
}
#submit_canvas{
    color: #093;
    border-color: #093;
}
#clear_canvas{
    color: #c03;
    border-color: #c03;
}
#submit_canvas:hover{
    color: white;
    background-color: #093;
    border-color: #063;
}
#clear_canvas:hover{
    color: white;
    background-color: #c03;
    border-color: #900;
}
.info-station, .reservation{
    font-family: 'Roboto';
}
.info-station{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
#stations button{
    border-radius:0.5em;
    padding: 0.8em;
    font-family: 'Roboto';
    color: white;
    font-size: 1em;
    border: none;
    background-color: #F0C064;
}
.info-station button{
    width: 25%;
}
.reservation{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#canvas-sign{
    border: solid 1px black;
}
/*-------------------------------------RESERVATIONS---------------------------------------------*/
#reservations{
    background-color: #454545;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    font-family: 'Roboto';
}
#reservations h2{
    color: white;
    margin-top: 0;
}
.res_bloc{
    text-align: center;
    border-radius: 0.5em;
    width: 30%;
}
#res_status{
    background-color: #F0C064;
    color: white;
}
#reservations h4{
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}
#res_thx{
    padding-top: 1em;
    padding-bottom: 1em;
    border-color: #F0C064;
    border-width: 0.8px;
    border: solid;
    color: #F0C064;
}
#prenom{
    font-weight: bold;
}
#reservations button{
    border-radius:0.5em;
    margin-top: 1em;
    font-family: 'Roboto';
    color: white;
    font-size: 1em;
}
#abort{
    background-color: firebrick;
    border: none;
    width: 15%;
}
#abort:hover{
    background-color: darkred;
}
#show_sign{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
}
.arrow-down{
    width: 0;
    height: 0;
    border-right: 1.5em solid transparent;
    border-left: 1.5em solid transparent;
    border-top: 1em solid white;
}
#show_sign_but{
    width: 100%;
    border-style: solid;
    border-color: white;
    background-color: rgba(0, 0, 0, 0);
}